.element__heart-botton{
   width: 22px;
   height: 19px;
   padding: 0;
   margin: 0;
   background-color: white;
   background-image: url(../../../images/heart.svg);
   background-size: cover;
   border: none;
}

/*нет времени на раскачку нужно сдавать мог бы сделать картинкой, но нет пока кнопкой, если совсем буду не успевать сделаю картинкой и не буду гонятся за этим кротом*/
/* там крот 5 пикселей зарыл в лево оставлю это сдесь, после первой сдачи доработаю,

.input[type="checkbox"] {
    position: absolute;
    width: 1px;  если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет 
    height: 1px;
    overflow: hidden;  без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя
    clip: rect(0 0 0 0);
}  */