.header__logo{
   width: 142px;
   height: 33px;
   margin-bottom: 41px;
}

@media screen and (max-width: 651px){
   .header__logo{
      width: 103px;  /* -.- */ /*круглируем 103.74px*/
      height: 24px;
      margin-left: 27px;
      margin-bottom: 31px; /* 31.6 Вот это точность, моё почтение дизайнеру, мнеб с утра такую, я пожалуй округлю*/
   }
}