.popup__accept{
   font-size: 18px;
   line-height: 22px;
   width: 358px;
   height: 50px;
   margin: 48px auto 0;
   padding: 0;
   background-color: black;
   color: white;
   border: none; /* заметил какую-то окантовку вокруг кнопки, хоп и нет её в фигме её нет*/

}

@media screen and (max-width: 596px){
   .popup__accept{
      width: 238px;
      height: 46px;
      margin-top: 45px;
      font-size: 14px;
      line-height: 17px;
   }
}