.popup__container{
   display: flex;
   flex-direction: column; /*уже на середине вёрстки заметил, что выронить можно не по левому краю контент, а нетрировав его, конечно же цетриру через флекс бокс*/
   width: 430px;
   height: 330px;
   margin: 195px auto 0;
   background: #fff;
   border-radius: 10px;
   position: relative;
}

@media screen and (max-width: 596px){   /*прям на той же точке где и карточки слохопываются до 1*/
   .popup__container{
      width: 282px;
      height: 322px;
   }
}