.popup__accept{
   font-size: 18px;
   line-height: 22px;
   width: 358px;
   height: 50px;
   margin: 48px auto 36px;
   padding: 0px;
   background-color: black;
   color: white;
   cursor: pointer;
   border-radius: 2px;
   border: none; /* заметил какую-то окантовку вокруг кнопки, хоп и нет её в фигме её нет*/

}

@media screen and (max-width: 596px){
   .popup__accept{
      width: 238px;
      height: 46px;
      margin: 45px auto 25px;
      font-size: 14px;
      line-height: 17px;
   }
}

.popup__accept:hover{
   opacity: 80%;
}

.popup__accept:focus{
   outline: 3px solid dodgerblue; /*ну почему бы и нет?*/ /*я вот люблю жамкать табом*/ /*и цвет мне такой тоже нравится в аутлайне на кнопках*/
}