.element__card{
   display: block;
   flex-wrap: wrap;
   align-content: start;
   width: 282px;
   height: 361px;
   padding: 0;
   list-style: none;
   background-color: white;
   margin: 0 auto;
   /* overflow: hidden; */
   border-radius: 12px; /*  его посмотреть но оно точно больше чем 10px, я проверил через пиксель пёрфект и жмакнул 12px https://i.imgur.com/xXve71u.png верхняя оригинал в фигме, снизу моё с 10px*/
}