/* из-зи непонятного пространства другого блока комментирую тут марджин*/
.profile__text{
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   max-width: 294px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   color: white;
   margin-top: 7px; /* сраная фигма у неё маржин 16, но это не возможно, не возможно блок .profile__name ужать до 39px так как в фигме, так как у нас lh 48. выход 16-(48-39) или же там ипользуются в фигме свойства о которых я не знаю и чат в слаке тоже, так как я вопрос на эту тему задавал*/
   margin-bottom: 0px;
}

@media screen and (max-width: 651px){
   .profile__text{
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      max-width: 189px;
   }
}
