.element__card{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content:flex-start;
   list-style: none;
   white-space: nowrap;
   text-overflow: ellipsis;
   width: 282px;
   /* height: 361px; */
   min-height: 361px;
   padding: 0;
   background-color: white;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   border-radius: 10px;
}