.elements{
   display: grid;
   grid-template-columns: repeat(3, 282px);
   gap: 20px 17px;
   margin: 0 auto;
   padding: 0;
   justify-content: center;
}

@media screen and (max-width: 900px){
   .elements{
      grid-template-columns: repeat(2, 282px);
      grid-template-rows: repeat(3, auto);
      margin: 0 auto;
   }
}

@media screen and (max-width: 596px){
   .elements{
      grid-template-columns: repeat(1, 282px);
      grid-template-rows: repeat(6, auto);
      margin: 0 auto;
   }
}

.elements{
   margin-top: 51px;
}

@media screen and (max-width: 651px){
   .elements{
      margin-top: 28px;
   }
}