.popup__close {
   width: 32px;
   height: 32px;
   background-color: rgba(0, 0, 0, 0);
   background-image: url(../../../../images/Close-Icon.svg);
   cursor: pointer;
   position: absolute;
   right: -40px;
   top: -40px;
   border: none;
   z-index: 3;
}

@media screen and (max-width: 596px) {
   .popup__close {
      width: 20px;
      height: 20px;
      background-size: cover;
      right: 0;
      top: -36px; /* я уже и забыл как это работает, а потом как понял заного и только потом вспомнил знал но забыл, как то же я прописал для декстопа свойтво 😎*/
   }
}

.popup__close:hover {
   opacity: 60%;
}

.popup__close:focus {
   outline: 3px solid dodgerblue; /*ну почему бы и нет?*/ /*я вот люблю жамкать табом*/ /*и цвет мне такой тоже нравится в аутлайне на кнопках*/
}
