.popup__edit-name{
   font-size: 14px;
   line-height: 17px;
   font-weight: 500; /* вот хоть бейте меня сапогом в фигме в описании указан 400, но пофакту там 500, я поставил 500. Вот сравнения толщены шрифта https://i.imgur.com/S7AxYEh.png верхняя 400 нижняя это макет фигмы. */ /*но может есть какой-то крот который подгрызает каким-то свойством шрифт о котором я не знаю*/
   margin: 49px auto 0;
   padding: 0 0 9px;
   width: 358px;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 20%);
   outline: none;
}

@media screen and (max-width: 596px){
   .popup__edit-name{
      width: 238px;
      margin-top: 75px; /* мне не нравится как это сделал дизайнер, я бы сделал карточку меньше, ну что за 75px он что на этом поле коней собрался пасти? 🐴*/
   }
}