/* Почему? почему этот блок имеет столько пространство под собой? что его создаёт? */
.profile__name{
   font-size: 42px;
   line-height: 48px;
   font-weight: 500;
   white-space: nowrap;
   margin: 22px 0 0;
   color: #fff;
}