.popup__form{
   display: flex;
   flex-direction: column; /*уже на середине вёрстки заметил, что выронить можно не по левому краю контент, а нетрировав его, конечно же цетриру через флекс бокс*/
   /* width: 430px; */
   /* width: 100%;
   max-width: 430px;*/
   /* min-height: 210px; */
   /* margin: 195px auto 0; */
   /* justify-content: center; */
   align-items: center;
   /* background: #fff; */
   /* border-radius: 10px; */
   /* position: relative; */
}