.element__heart-botton {
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 30px 20px 0 0;
    background-color: white;
    background-image: url(../../../../images/heart.svg);
    background-size: cover;
    border: none;
}

.element__heart-botton:hover {
    opacity: 50%;
}

.element__heart-botton:active {
    background-image: url(../../../../images/Union.svg);
    opacity: 100%;
}
