.popup__edit-description{
   font-size: 14px;
   line-height: 17px;
   font-weight: 500;
   margin: 30px auto 0;
   padding: 0 0 9px;
   width: 358px;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 20%);
   outline: none;
}

@media screen and (max-width: 596px){
   .popup__edit-description{
      width: 238px;
   }
}