.profile__info{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

@media screen and (max-width: 651px){
   .profile__info{
      min-width: none;
      flex-direction: column;
      flex-wrap: none;
      justify-content: center;
      align-content: center;
   }
}