.element__bin {
   width: 18px;
   height: 19px;
   padding: 0;
   background: rgba(0, 0, 0, 0);
   background-image: url(../../../../images/Button-bin.svg);
   background-size: cover;
   position: absolute;
   top: 20px;
   right: 20px;
   border: none;
   cursor: pointer;
   visibility: hidden;
}

.element__bin:hover {
   opacity: 60%;
}
